@font-face {
	font-family: "iconfont";
	src: url("/css/font/coinpaca.eot");
	src: url("/css/font/coinpaca.eot#iefix") format("embedded-opentype"),
			 url("/css/font/coinpaca.woff2") format("woff2"),
			 url("/css/font/coinpaca.woff") format("woff"),
			 url("/css/font/coinpaca.ttf") format("truetype"),
			 url("/css/font/coinpaca.svg#coinpaca") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before, .icon, .icon:before {
	font-family: "iconfont";
	font-style: normal;
	font-weight: normal;
	speak: never;

	text-decoration: none;
	text-align: center;

	font-variant: normal;
	text-transform: none;


	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
