table.list {}
table.list tr {text-align: left;}
table.list th {}
table.list th.small {width: 100px;}
table.list td {}
table.list td.activity {text-align: right;}
table.list td.activity button {
	width: 30px; height: 30px;
	padding: 0;
	font-family: "iconfont"; font-size: 23px;
	background: transparent; color: #0a3e46;
}
table.list td.activity button.delete {color: #FF0000;}
table.list td.activity button.edit:before {content: "\F14B";}
table.list td.activity button.delete:before {content: "\F1F8";}

span.tag {
	display: inline-block;
	padding: 5px 8px;
	color: #FFFFFF; background: #0a3e46;
	font-size: 12px;
	border-radius: 3px;
	user-select: none;
}
