@import url("/css/icons.css");
@import url("/css/forms.css");
@import url("/css/lists.css");
@import url("/css/modals.css");

body {
	width: 100%; min-width: 1180px; height: 100%;
	position: absolute;
	display: grid;
	grid-template-columns: min(350px, 30%) auto;
	grid-template-rows: 80px auto 30px;
}
body, * {box-sizing: border-box;}
body, img, div {margin: 0; padding: 0}
*[hidden], .hidden {display: none !important;}
.full {width: 100%;}
.column {flex-direction: column;}
.end {align-self: end;}
img {user-select: none;}
.column {flex-direction: column;}

body > header {
	height: 80px;
	padding: 10px;
	background: #0a3e46;
	grid-column-start: 1;
  grid-column-end: 3;
	display: flex;
	justify-content: space-between;
}
body > header > #main-logo img {width: 60px;}
body > header > button#menu-trigger {
	width: 80px;
}
body > header > nav > ul {
	margin: 0; padding: 0;
	list-style-type: none;
	height: 100%;
}
body > header > nav > ul li {height: 100%; float: left;}
body > header > nav > ul li button {
	height: 100%; padding: 0 25px;
	background: transparent;
	border: none;
	color: #FFFFFF;
	font-size: 18px;
	text-transform:  uppercase;
}
body > header > nav > ul li button:hover {
	background: #005b68;
}
body > header > nav > ul li + li {
	border-left: 1px #005b68 solid;
}
body > header > button#menu-trigger {
	display: none;
}

body > nav {
	height: 100%;
	grid-column-start: 1;
  grid-column-end: 1;
	background: #0a3e46;
	align-self: stretch;
}
body > nav > ul > li {}
body > nav > ul > li > a {
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	font-size: 20px;
	padding: 10px 20px;
}
body > nav > ul > li > a:href {
	background: #005b68;
}
body > nav > ul > li + li {
	border-top: 1px #005b68 solid;
}

body nav.submenu ul {
	list-style-type: none;
	padding: 0;
}
body nav.submenu ul > li > a {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
	user-select: none;
}

body > main {
	background: #ffffff;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
body > main.full {
	grid-column-start: 1;
	grid-column-end: 3;
}

body > main > header {
	display: flex;
	align-items: center;
	margin: 20px 0;
}
body > main > header h1 {
	margin: auto;
	font-weight: normal;
	font-size: 36px;
	font-family: "OpenSans";
}
body > main > header button {}

body > footer {
	max-height: 30px;
	grid-column-start: 1;
	grid-column-end: 3;
	background: #0a3e46;
}

.tag-list > * {
	background: #0a3e46;
	padding: 5px 15px;
	color: #FFF;
	border-radius: 6px;
	margin-right: 5px;
	display: inline-block;
	cursor: pointer;
}

