<form class="full column" id="indicator-form" action="javascript:void(0)">
	<input type="text" id="indicator-name" placeholder="Name" pattern="[A-Za-z_]+" required />
	<input type="text" id="indicator-version" placeholder="Version (format example: '1.0.0')" pattern="\d+\.\d+\.\d+" required />
	<div>
		<input type="file" id="indicator-code-file" accept="text/python" />
		<label for="indicator-code-file">Load indicator code from file</label>
	</div>
	<textarea id="indicator-code-edit" class="code" placeholder="Edit code" required></textarea>
	<div>
		<input type="checkbox" id="indicator-public" />
		<label for="indicator-public">Public</label>
	</div>
	<button class="submit"></button>
</form>
