<form action="javascript:void(0)" class="full column">
	<label for="login-username">Username or email:</label>
	<input name="username" id="login-username" type="text" required />
	<label for="login-password">Password:</label>
	<input name="password" id="login-password" type="password" required />
	<button id="login-send" class="end">Sign in</button>
</form>
