<ul>
	<li>
		<a href="/bots">
			<span class="icon">&#xf2db;</span>
			Services
		</a>
	</li>
	<li>
		<a href="/indicators">
			<span class="icon">&#xf1DE;</span>
			Indicators
		</a>
	</li>
	<li>
		<a href="/strategies">
			<span class="icon">&#xe82D;</span>
			Strategies
		</a>
	</li>
	<li>
		<a href="/tests">
			<span class="icon">&#xf188;</span>
			Tests
	</a>
	</li>
</ul>
