<form action="javascript:void(0)" action="/bots/connect" class="login">
	<h1>BOT-API Connect</h1>
	<label for="bot-login-name"> Host address:</label>
	<input
		type="text"
		id="bot-connect-host"
		pattern="^((https?:)?\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.?[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&\/\/=]*)$"
		title="Must contain valid hostname"
	/>
	<button id="bot-connect-send">Connect</button>
</form>
