<header>
	<h1>Robots</h1>
	<button class="add icon" id="bot-add">&#xf0fe;</button>
</header>
<table class="full list" style="margin-top: 20px;" id="bot-list">
	<thead>
		<tr>
			<th class="small">State</th>
			<th>Name</th>
			<th>Tags</th>
			<th>Host</th>
			<th class="small">Port</th>
			<th class="small"></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
