<header>
	<h1>Strategies</h1>
	<button class="add icon" id="strategy-add">&#xf0fe;</button>
</header>
<table class="full list" style="margin-top: 20px;" id="strategy-list">
	<thead>
		<tr>
			<th>Name</th>
			<th>Latest version</th>
			<th>Owner</th>
			<th class="small">Public</th>
			<th class="small"></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
